
.headerList {
    display: flex;
    /* gap: 200px; */
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    padding: 0;
  }
  
  .headerLink {
    text-decoration: none;
    color: #ffffff;
    margin-right: 100px;
  }
